.services{
    margin-left: auto;
    margin-right: auto;
    height:400px;
    width:480px;
    text-align: center; 
    padding: 118px 60px;
    background-image:  linear-gradient(
    rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/service480.jpg);
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) 
    {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/service480@2x.jpg);
  }
}

 @media screen and (min-width:$tablet){
        .services{       
         padding: 118px 204px;
        height:400px;
        min-width:768px;
    background-image:  linear-gradient(
    rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/service768.jpg);

 @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) 
    {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/service768@2x.jpg);
  }
      
      }
  }
     
 @media screen and (min-width:$desktop){
        .services{       
         padding:200px 452px ;
        height: 600px;
        min-width:1200px ;
    
        background-image:  linear-gradient(
    rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/service1600.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) 
    {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/service1600@2x.jpg);
  }
      }
   }
  
  
   @media screen and (min-width:1600px){
        .services
        { width: 1600px;}
       
      }

  
  .services__title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
  @media screen and (min-width:$desktop){
    font-size: 44px;
    line-height: 1.4;
  }


  }
  .services__button{
    background-color:#2196F3 ;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 2;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
    min-width:152px;
   border-radius: 4px;
  padding: 10px 24px;
   border:none;
   &:hover,&:focus{
    background-color:#188CE8;
   }
    }