:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --nav-text-color:#212121;
    --accent-text-color:#2196F3;
    --white-color:#FFFFFF;
    --timing-fuction:cubic-bezier(0.4, 0, 0.2, 1);
    
}

$mobile:480px;
$tablet:768px ;
$desktop:1200px;
.section {
   margin-left: auto;
   margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

 

   @media screen and (min-width:1200px){

    padding-top: 94px;
    padding-bottom: 94px;
     
   }
   @media screen and (min-width:1600px){
    padding: 94px 215px;
   }
}
.container{
    width: $mobile;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   @media screen and (min-width:$tablet) {
    width: $tablet;
    
   }
    @media screen and (min-width:$desktop){
    width: $desktop;
   }
  
  
    }


body{
    background: #FFFFFF;
    color:var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 2;
    }

img{
    display: block; 
    }
    
ul{
    list-style: none;
}
.list{
    padding: 0;
    margin: 0;
}